/* CSS DE LA APLICACIÓN */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS DE LOS DROPDOWN MENU DE LA BARRA DE NAVEGACIÓN */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Cambia cursor como si fuera un link al estar encima */
.dropdown :hover {
  cursor: pointer;
}

/* Estilo del menú desplegable */
.dropdown-content {
  display: block;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Estilo de los enlaces del menú desplegable */
.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  text-align: left;
  font-size: 14px;
  display: block;
}

/* Cambia fondo cuando pasas por encima del enlace */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* CSS PARA SIDEBAR */
.sidebar {
  top: 0;
  left: 0;
  padding: 57px 0;
  width: 230px;
  height: 100%;
  background-color: #f3f3f3;
  position: fixed;
  overflow: hidden;
  z-index: 1024;
}

.sidebar:hover {
  top: 0;
  left: 0;
  padding: 57px 0;
  width: 230px;
  height: 100%;
  background-color: #f3f3f3;
  position: fixed;
  overflow: auto;
}

.sidebar.active {
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  background-color: #f3f3f3;
  position: fixed;
  overflow: auto;
}

.transform {
  -webkit-transition: 0.2s; /* For Safari 3.1 to 6.0 */
  transition: 0.2s;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 10px 30px;
  font-size: 14px;
  text-decoration: none;
  text-align: left;
}

/* Active/current link */
.sidebar a.active {
  background-color: #d8d8d8;
  font-weight: 600;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #d8d8d8;
}

/* Listado de asignaturas en la barra lateral */
.asignaturas {
  padding: 10px 0;
  border-top-width: 1px;
  border-top-color: #d8d8d8;
  border-top-style: solid;
}

/* Título para separar secciones en sidebar */
.asignaturas h4 {
  display: block;
  color: #8b8b8b;
  padding: 10px 30px;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  margin-bottom: 0;
}

/* Menú horizontal CSS */
.menu-item {
  width: 214px;
  padding-right: 10px;
  padding-bottom: 20px;
  white-space: normal;
}

.fecha-subida {
  margin-top: -2px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  margin-left: 30px;
}

.fecha-subida-video {
  margin-top: -2px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  margin-left: 0px;
}

.scroll-menu-arrow {
  padding: 65px 1px;
  position: relative;
  top: -11px;
  cursor: pointer;
}

.scroll-menu-arrow-hidden {
  visibility: hidden;
}

.arrow-horizontal-list-renderer {
  cursor: pointer;
  top: -23px;
  margin-right: -20px;
  margin-left: -20px;
  position: relative;
  padding: 0px 10px;
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 5;
}

/* CSS para la página de login */
@media screen and (min-width: 600px) {
  .login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    height: 500px;
    padding: 150px 40px;
    border-radius: 5px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 1px 4px 10px hsl(0, 0%, 71%);
  }

  .recuperacion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    height: 430px;
    padding: 150px 40px;
    border-radius: 5px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 1px 4px 10px hsl(0, 0%, 71%);
  }

  .userIcon {
    position: absolute;
    border-radius: 0;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: "Great Vibes", cursive;
    font-size: 70px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    width: 300px;
    height: 100px;
  }
  .boton-login {
    width: 100%;
    margin-top: 20px;
    background-color: #235da9;
    border-color: #235da9;
  }

  .boton-recuperacion {
    width: 100%;
    margin-top: 20px;
    background-color: #235da9;
    border-color: #235da9;
  }
}

@media screen and (max-width: 599px) {
  .login {
    position: fixed;
    top: 25%;
    left: 35px;
    right: 8%;
  }

  .recuperacion {
    position: fixed;
    top: 25%;
    left: 35px;
    right: 8%;
  }

  .userIcon {
    position: fixed;
    border-radius: 0;
    top: 11%;
    left: 35px;
    color: black;
    font-family: "Great Vibes", cursive;
    font-size: 70px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    width: 200px;
    height: 90px;
  }
  .boton-login {
    position: relative;
    width: 123px;
    float: right;
    top: 15px;
    background-color: #235da9;
    border-color: #235da9;
  }
  .boton-recuperacion {
    position: relative;
    width: 186px;
    float: right;
    background-color: #235da9;
    border-color: #235da9;
  }
}

.textInfo {
  position: relative;
  top: 10px;
  margin: 0;
  padding: 0px 0 20px;
  text-align: center;
  font-size: 14px;
}

/* CSS para página de registro */
@media screen and (min-width: 900px) {
  .signin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 620px;
    padding: 150px 40px;
    border-radius: 5px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 1px 4px 10px hsl(0, 0%, 71%);
  }

  .img-signin {
    position: absolute;
    border-radius: 0;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: "Great Vibes", cursive;
    font-size: 70px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    width: 300px;
    height: 100px;
  }

  .boton-signin {
    position: relative;
    width: 110px;
    margin-top: -10px;
    background-color: #235da9;
    border-color: #235da9;
    left: calc(100% - 51.3%);
  }

  .boton-signin-reg {
    position: relative;
    width: 110px;
    margin-top: 0px;
    background-color: #235da9;
    border-color: #235da9;
    left: calc(100% - 29.5%);
  }
}

@media screen and (max-width: 899px) and (min-width: 600px) {
  .signin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 630px;
    padding: 150px 40px;
    border-radius: 5px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 1px 4px 10px hsl(0, 0%, 71%);
  }

  .img-signin {
    position: absolute;
    border-radius: 0;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: "Great Vibes", cursive;
    font-size: 70px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    width: 300px;
    height: 100px;
  }

  .boton-signin {
    position: relative;
    width: 110px;
    margin-top: -10px;
    background-color: #235da9;
    border-color: #235da9;
    left: calc(100% - 86%);
  }

  .boton-signin-reg {
    position: relative;
    width: 110px;
    margin-top: 0px;
    background-color: #235da9;
    border-color: #235da9;
    left: calc(100% - 49.3%);
  }
}

@media screen and (max-width: 599px) {
  .signin {
    position: fixed;
    top: 25%;
    left: 35px;
    right: 8%;
  }

  .img-signin {
    position: absolute;
    border-radius: 0;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: "Great Vibes", cursive;
    font-size: 70px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    width: 100%;
    height: 80px;
  }

  .boton-signin {
    position: relative;
    width: 110px;
    margin-top: -10px;
    background-color: #235da9;
    border-color: #235da9;
    left: calc(100% - 80%);
  }

  .boton-signin-reg {
    position: relative;
    width: 110px;
    margin-top: 0px;
    background-color: #235da9;
    border-color: #235da9;
    left: calc(100% - 185px);
  }
}

/* CSS para la página de mis asignaturas */
.listado-asignaturas {
  text-align: left;
}

.listado-asignaturas h5 {
  font-weight: bold;
}

.lista {
  position: relative;
  margin-top: 32px;
  margin-right: 70px;
}

.fondo {
  font-size: 20px;
  background-color: #fafafa;
  transition: all 0.2s ease-in-out;
}

.fondo:hover {
  transform: scale(1.01);
}

.fondo .imagen {
  position: relative;
  float: left;
  left: 20%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.fondo .asig {
  font-size: 20px;
  position: relative;
  width: 42%;
  float: left;
}

.fondo .uni {
  font-size: 20px;
  position: relative;
  width: 35%;
  float: left;
}

.fondo .imagenRank {
  position: relative;
  float: left;
  width: 32px;
  margin-right: 10px;
  height: 32px;
  border-radius: 50%;
}

.fondo .asigRank {
  font-size: 20px;
  position: relative;
  width: 40%;
  float: left;
}

.fondo .puestoRanking {
  font-size: 20px;
  position: relative;
  float: left;
  width: 15%;
}

.fondo .uniRank {
  font-size: 20px;
  position: relative;
  width: 33%;
  float: left;
}

.fondo .puntuacion {
  color: green;
  margin-right: 0;
  margin-left: auto;
  font-size: 20px;
  margin-bottom: 0;
}

.boton-filtro {
  background-color: #235da9;
  border-color: #235da9;
}

.boton-filtro:focus {
  box-shadow: 0 0 0 0rem rgba(35, 93, 169, 0.5);
}

/* CSS para la página de ver video */
.reproductor {
  margin-right: 20%;
  height: 0;
  padding-bottom: 56.25%;
}
/*
.reproductor .columna-primaria {
  flex: 71.8%;
  padding: 10px;
}

.reproductor .columna-secundaria {
  flex: 28.2%;
  padding: 10px;
}
*/
/* CSS para lista vertical */
.vertical-item  {
  width: 400px;
  margin-bottom: 8px;
}

.video-marco {
  height: 55%;
}

.aspect-ratio--16x9 {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.datos-video {
  border-bottom: 1px solid lightgrey;
  margin-top: 20px;
}

.datos-video .nombre-canal {
  position: relative;
  top: 8px;
  margin-left: 10px;
  font-weight: 550;
  text-decoration: none;
  color: black;
}

.datos-video .boton-seguir {
  background-color: #235da9;
  border-color: #235da9;
  margin-right: 0;
  margin-left: auto;
  font-size: 15px;
  font-weight: 300;
}

.titulo-video {
  font-weight: 500;
  color: black;
  font-size: 20px;
}

/* CSS para página asignatura concreta */
.cabecera-asignatura {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 20px;
  margin-right: 70px;
  display: flex;
  font-weight: bold;
  font-size: 25px;
}

.cabecera-asignatura .titulo-asignatura {
  margin-bottom: 10px;
  float: left;
}

.cabecera-asignatura .universidad {
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: auto;
  margin-top: 20px;
}

.profesores-asignatura {
  text-align: left;
}

.profesores-asignatura .tit-prof {
  position: relative;
  font-weight: 500;
  color: #00000080;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.profesores-asignatura .prof {
  position: relative;
  margin-top: 10px;
  float: left;
}

.profesores-asignatura .botones {
  margin-right: 10%;
  margin-left: auto;
  margin-top: 20px;
}

.estilo-menu {
  display: "flex";
  align-items: "center";
  user-select: "none";
  width: 50px;
}

.anyadir-lista {
  display: flex;
  margin-right: 0;
  margin-left: auto;
  cursor: pointer;
}

.icono-lista {
  color: #00000080;
}

.icono-lista:hover {
  color: #000000a0;
}

.popup {
  width: 100%;
  font-size: 14px;
  padding: 20px;
}

.popup .titulo {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid lightgrey;
}

.popup .form {
  margin-top: 20px;
}

.boton-popup {
  background-color: #235da9;
  border-color: #235da9;
  float: right;
  margin-bottom: 20px;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s linear;
}

.boton-nav-admi {
  background-color: dimgrey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 8px;
}
.boton-nav-admi:hover {
  background-color: darkgrey; /* Green */
  color: white;
}
.boton-nav-admi:active {
  background-color: darkgrey; /* Green */
  color: white;
}
.boxed {
  border: 1px solid gray;
}
.link-asignatura {
  position: relative;
  font-weight: 550;
  text-decoration: none;
  color: black;
}

.link-asignatura:hover {
  position: relative;
  font-weight: 550;
  text-decoration: none;
  color: black;
}
