/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  top: 57px;
  left: 0;
  width: 230px;
  background-color: #f3f3f3;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 10;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 10px 30px;
  font-size: 14px;
  text-decoration: none;
  text-align: left;
}

/* Active/current link */
.sidebar a.active {
  background-color: #d8d8d8;
  font-weight: 600;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #d8d8d8;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* Listado de asignaturas en la barra lateral */
.asignaturas {
  margin-top: 10px;
  border-top-width: 1px;
  border-top-color: #d8d8d8;
  border-top-style: solid;
}

.asignaturas h4 {
  display: block;
  color: #8b8b8b;
  padding: 10px 30px;
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  margin-bottom: 0;
}
